// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#posts {
  border-collapse: collapse;
  td {
    padding: 5px;
    border: 1px solid black;
    &.body {
      width: 70%;
    }
  }
}

.alert{
  color: red;
}

.notice{
  color: green;
}